<div class="container bg-white p-6 md:mx-auto">
  <div class="d-flex justify-content-center align-items-center flex-column vh-100">
    <div class="text-center">
      <p class="md:text-2xl text-xl text-dark font-semibold text-center">ご注文が完了しました。</p>
      <p class="text-secondary my-2">ご注文いただきありがとうございました！商品到着まで今しばらくお待ちください。</p>
      <div class="py-8 text-center">
        <%= link_to orders_path, class: "btn btn-primary" do %>
          注文履歴へ
        <% end %>
      </div>
    </div>
  </div>
</div>
